<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flower.xin.orm.mapper.CommoditySubjectDaoMapper">
  <resultMap id="BaseResultMap" type="com.flower.xin.orm.dao.CommoditySubjectDao">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="score" jdbcType="TINYINT" property="score" />
    <result column="pic_list" jdbcType="VARCHAR" property="picList" />
    <result column="is_validate" jdbcType="TINYINT" property="isValidate" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, type, score, pic_list, is_validate, created_at, updated_at
  </sql>
  <sql id="query_event_push_where_clause">
    <where>
      <if test="id != null">
        AND id = #{id,jdbcType=BIGINT}
      </if>
      <if test="name != null">
        AND name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="type != null">
        AND type = #{type,jdbcType=TINYINT}
      </if>
      <if test="score != null">
        AND score = #{score,jdbcType=TINYINT}
      </if>
      <if test="picList != null">
        AND pic_list = #{picList,jdbcType=VARCHAR}
      </if>
      <if test="isValidate != null">
        AND is_validate = #{isValidate,jdbcType=TINYINT}
      </if>
    </where>
  </sql>
  <select id="selectBySelective" parameterType="com.flower.xin.orm.dao.CommoditySubjectDao" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_commodity_subject
    <include refid="query_event_push_where_clause"/>
    <if test="scoreSortDesc != null">
      order by score desc
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_commodity_subject
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_commodity_subject
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.flower.xin.orm.dao.CommoditySubjectDao">
    insert into tb_commodity_subject (id, name, type,
      score, pic_list, is_validate,
      created_at, updated_at)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT},
      #{score,jdbcType=TINYINT}, #{picList,jdbcType=VARCHAR}, #{isValidate,jdbcType=TINYINT},
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.flower.xin.orm.dao.CommoditySubjectDao">
    insert into tb_commodity_subject
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="picList != null">
        pic_list,
      </if>
      <if test="isValidate != null">
        is_validate,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="score != null">
        #{score,jdbcType=TINYINT},
      </if>
      <if test="picList != null">
        #{picList,jdbcType=VARCHAR},
      </if>
      <if test="isValidate != null">
        #{isValidate,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flower.xin.orm.dao.CommoditySubjectDao">
    update tb_commodity_subject
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=TINYINT},
      </if>
      <if test="picList != null">
        pic_list = #{picList,jdbcType=VARCHAR},
      </if>
      <if test="isValidate != null">
        is_validate = #{isValidate,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
